/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: beige;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.container {
    display: flex;
    flex-grow: 4;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
}

/* Estilos do header e footer */
#header, #footer {
    background-color: #c0abdf;
    color: white;
    text-align: center;
    padding: 10px 0;
}

#header {
    flex-grow: 1;
}

#footer {
    flex-grow: o.5;
}



/* Estilos da navegação */
#nav {
    background-color: beige;
    flex-basis: 20%;
    padding: 20px;
    flex: 1;
}

#nav h2, #p, ul {
    text-align: center;
}

#nav ul {
    list-style-type: none;
}

/* Estilos do conteúdo principal */
#main {
    background-color: white;
    flex-basis: 60%;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    flex: 3;
}

.about p {
    font-size: 18px;
}

div.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

img.avatar {
    width: 150px;
    height: 180px;
    border-radius: 10%;
    margin-bottom: 20px;
}

div.personal-info {
    margin-left: 1px;
    text-align: center;
}

/* Estilos do aside */
#aside {
    background-color: beige;
    flex-basis: 20%;
    padding: 20px;
    flex: 1;
}

#aside h2 {
    text-align: center;
}

#aside a {
    display: block;
    text-align: center;
}

/* Estilos do footer */
#footer {
    background-color: #c0abdf;
    color: beige;
    text-align: center;
    padding: 10px 0;
    flex: 1;
    height: 10%;
    text-decoration: none;
}

img.ico {
    width:40px;			
    filter: grayscale(1);
    transition: 0.5s;
    margin: 5px;
}
img:hover {				
    filter: grayscale(0);
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
